

.treeContainer {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}

.treeContainer ul ul:not(:first-child), ol ul:not(:first-child), ul ol:not(:first-child), ol ol:not(:first-child) {
    margin-top: 0px;
}

.treeHead {
    height: 20px;
    width: 100%;
    color: #73A8FF;
    font-size: 12px;
}

.treeItem {
    display: block;
    color: black;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12px;
}

.treeItem:hover {
    color: black;
    background: #f4f5f7;
    text-decoration: none;
    border-radius: 3px;
}

.treeItemContainer {
    list-style: none;
    padding: 0;
    margin: 0px;
    height: 20px;
}

.anchorLink {
    text-decoration: none;
    color: black;
}

.treeItemTextLine {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
    font-size: 12px;
}

.toggleSelector {
    cursor: pointer;
    display: inline-block;
}

.toggleSelector:hover {
    background: #DEEBFF;
    border-radius: 3px;
}

.textSummary {
    margin-top: 0px;
    margin-bottom: 0px;
    color: black;
    text-overflow: ellipsis;
    max-width: 12px;
}

.textKey {
    margin-top: 0px;
    margin-bottom: 0px;
    color: blue;
}

.treeItemImg {
    margin: 0px;
    padding: 0px;
}

