.treeItem {
    color: black;
    display: block;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.treeItem:hover {
    color: black;
    background: #f4f5f7;
    text-decoration: none;
    border-radius: 3px;
}

.treeItemContainer {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.anchorLink {
    text-decoration: none;
    color: black;
}

.treeItemTextLine {
    display: inline-block;
    margin: 5px;
}

.toggleSelector {
    cursor: pointer;
    display: inline-block;
}

.toggleSelector:hover {
    background: #DEEBFF;
    border-radius: 3px;
}