.app {
    padding: 10px;
    margin: 0 auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    font-family: Arial;
    font-size: 11px;

    /* Primary */

    --primary-lighter-background: #0065ff;
    --primary-base-background: #0052CC;
    --primary-darkened-background: #0049b0;
    --primary-dark-background: #01275c;

    --primary-lighter-color: #FFFFFF;
    --primary-base-color: #f8f6f6;
    --primary-darkened-color: #dadada;
    --primary-dark-color: #242424;

    /* Secondary */

    --secondary-lighter-background: #ebf1fc;
    --secondary-base-background: #DEEBFF;
    --secondary-darkened-background: #a6c4fd;
    --secondary-dark-background: #6e9ffc;

    --secondary-lighter-color: #FFFFFF;
    --secondary-base-color: #868686;
    --secondary-darkened-color: #555555;
    --secondary-dark-color: #333333;

    /* Neutro */

    --neutro-lighter-background: rgb(230, 230, 230);
    --neutro-base-background: #f3f3f3;
    --neutro-darkened-background: #e7e7e7;
    --neutro-dark-background: #bebebe;

    --neutro-lighter-color: #FFFFFF;
    --neutro-base-color: #868686;
    --neutro-darkened-color: #555555;
    --neutro-dark-color: #414141;
}

.heading {
    margin-bottom: 16px;
}

.panelContainer{
	width: 100%;
	margin: 0 auto;
}
