
.container{
	width: 100%;
	margin: 0 auto;
}

ul.tabs{
	margin: 0px 0px 10px 0px;
	padding: 0px;
	list-style: none;
}
ul.tabs li{
	background: var(--secondary-base-background);
	color: var(--secondary-darkened-color);
	display: inline-block;
	padding: 5px 10px;
	cursor: pointer;
	
}

ul.tabs li:hover {
    background: var(--secondary-lighter-background);

}

ul.tabs li.current{
	background: white;
	color: var(--primary-lighter-background);
    font-weight: bold;
    border-bottom: solid var(--primary-lighter-background)
}

