.buttonPrimary {
    color: var(--primary-base-color);
    background: var(--primary-base-background);
    box-shadow: 0 0 0 0 rgba(145, 64, 248, 0.5), 0 0 0 0 rgba(39, 200, 255, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    border: 0px;
    border-radius: 3px;
    cursor: pointer;
    height: 30px;
    padding: auto;
}

.buttonPrimary:hover {
    color: var(--primary-lighter-color);
    background: var(--primary-lighter-background);
}

.buttonPrimary:active {
    background:  var(--primary-darkened-background);
    color: var(--primary-darkened-color);
}

.buttonSecondary {
    color: var(--secondary-base-color);
    background: var(--secondary-base-background);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    border: 0px;
    border-radius: 3px;
    cursor: pointer;
    height: 30px;
    padding: auto;
}

.buttonSecondary:hover {
    color: var(--secondary-darkened-color);
    background: var(--secondary-lighter-background);
}

.buttonSecondary:active {
    background: var(--secondary-darkened-background);
    color: var(--secondary-darkened-color);
}

.buttonNeutro {
    color: var(--neutro-base-color);
    background: var(--neutro-base-background);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    border: 0px;
    border-radius: 3px;
    cursor: pointer;
    height: 30px;
    padding: auto;
}

.buttonNeutro:hover {
    color: var(--neutro-base-color);
    background: var(--neutro-lighter-background);
}

.buttonNeutro:active {
    background: var(--neutro-darkened-background);
    color: var(--neutro-darkened-color);
}
